/*
*
*	GLOBAL
*
*/

h1, h2, h3, h4, h5, h6 {
	color: rgb(41, 128, 185);
}


/*
*
*	ESTRUCTURA
*
*/

.body-login {
	background-color: rgb(41, 128, 185);
}

.body-home {
	background-color: white;	
}

.home-container {
	margin-left: auto;
   margin-right: auto;
	width: 770px;
}


.series-contenidor {
   width: 900px;
   float: left;
}

.series-contenidor-buscadors {
   width: 300px;
   float: left;
}

.pestanyes-programacio {
   height: 40px;
   margin-bottom: 5px;
   border-bottom: 1px solid rgb(214, 222, 230);
}


#footer {
   position: static;
   top: inherit;
   bottom: 0px;
   height: 100px;
   width: 100%;
   clear:both;
   padding-top:20px;
   border-top: 1px solid black;
   color: white;
   background-color: rgb(51, 51, 51);
   float: left;
} 


/*
*
*	ELEMENTS
*
*/

#container-login {
	background-color: white;
	border-radius: 6px;
	margin-top: 10%;
	max-width: 600px;
	margin-bottom: 50px;
}

#form-login {
	background-color: white;
	padding: 15px;
}

#navbar-full {
	color: white;
	text-shadow: none;
}

#navbar-custom {
	background-color: rgb(41, 128, 185);
	background-repeat: no-repeat;
	background-image: none;
	border-color: transparent;
	min-height: 40px;
	border: none;
	color: white;
}

#navbar-account-dropdown {
   background-color: rgb(41, 128, 185);
   color: white;
}

#container-home {
	color: white;
	width: 1100px;
}

.panell {
   float: left;
   width: 650px;
}

/* PANELL INFORMACIO */

.capçalera-panell {
   border-bottom: 1px solid;
   margin-top: 20px;
}

.contenidor-item-actor {
   width: 120px;
   height: 210px;
   margin-right: auto;
   margin-left: auto;
   padding-bottom: 35px;
   float: left;  
}

.caratula-actor {
   width: 115px;
   height: 150px;
}

.nom-actor-real {
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   margin-top: 5px;
   font-size: 18px;
   font-weight: bold;
   color: rgb(234, 126, 20);
}

.nom-personatge {
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   font-size: 15px;
   font-weight: bold;
   color: #666666;
}

.box-enllaç-extern {
   width: 300px;
   height: 45px;
   background: none repeat scroll 0% 0% rgb(247, 247, 247);
   margin-bottom: 20px;
   margin-right: 10px;
}

.nom-enllaç-box {
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
   padding-top: 10px;
   font-size: 18px;
   font-weight: bold;
   color: rgb(234, 126, 20);
}


/* PANELL CAPITOLS */

.capçalera-gran {
   width: auto;
   height: 20px;
   border-bottom: 1px solid rgb(41, 128, 185);
   margin-top: 20px;
   padding-bottom: 20px;
}

.titol-temporada {
   float: left;
}

.caixa-puntuacio-temporada {
   width: 50px;
   height: 25px;
   float: left;
   margin-left: 10px;
}

.box-puntuacio-temporada {
   width: 40px;
   height: 25px;
   border: 3px solid;
   border-radius: 10px;
   background: none repeat scroll 0% 0% rgb(248, 248, 248);
   border: 2px solid rgb(227, 227, 227);
   color: rgb(0, 147, 232);
   font-size: 20px;
   font-weight: bold;  
   text-align: center;
   padding-top: 6px;
}

.puntuacio-temporada-usuari {
   width: 20px;
   float: left;
   margin-left: 10px;
}

.taula-capitols {
   width: auto;
   height: auto;
   margin-bottom: 50px;
}

.taula-capitols-linia {
   width: 650px;
   height: 40px;
   border-bottom: 1px solid rgb(41, 128, 185);
   border-radius: 5px;
   
/*
   background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgb(232, 232, 225)),
	color-stop(1, rgb(245, 245, 240))
);
background-image: -o-linear-gradient(bottom, rgb(232, 232, 225) 0%, rgb(245, 245, 240) 100%);
background-image: -moz-linear-gradient(bottom, rgb(232, 232, 225) 0%, rgb(245, 245, 240) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(232, 232, 225) 0%, rgb(245, 245, 240) 100%);
background-image: -ms-linear-gradient(bottom, rgb(232, 232, 225) 0%, rgb(245, 245, 240) 100%);
background-image: linear-gradient(to bottom, rgb(232, 232, 225) 0%, rgb(245, 245, 240) 100%);
*/
   
}

.taula-capitols-num {
   color: #333;
   font-weight: bold;
}

.taula-capitols-titol {
   color: #333;
   overflow: hidden;
   text-overflow: ellipsis;
}

.taula-capitols-numero {
   width: 50px;
   display: inline-block;
   height: 8px;
}

.taula-capitols-nom {
   width: 250px;
   display: inline-block;
   margin-top: 10px;
}

.taula-capitols-dret {
   width: auto;
   float: right;
   display: inline-block;
}

.taula-capitols-imatge {
   width: 40px;
   height: 40px;
   float: left;
   margin-right: 10px;
}

.taula-capitols-idiomes {
   width: 200px;
   margin-top: 7px;
   float: right;
}

.taula-capitols-flag {
   width: 30px;
   height: 30px;
   margin-top: -3px;
}



/* POPUP */

#popup-header {
   height: 80px;
}

.popup-header-caratula {
   width: 45px;
   height: 65px;
   float: left;
   margin-right: 20px;
}

.popup-header-titol {
   float: left;
   width: 550px;
}

#popup-header-close {
   float: right;
}

#popup-body {
   overflow-x: hidden;
   overflow-y: scroll;
   height: 350px;
}

.server-logo {
   width: 150px;
   height: 40px;
   display: inline-block;
   margin-right: 70px;
}

#popup-qualitat {
   width: 100px;
   height: 20px;
   display: inline-table;
   margin-left: 30px;
}

.popup-taula-flag {
   width: 50px;
   height: 40px;
   margin-top: -8px;
   display: inline-block;
}

.popup-taula-report {
   width: 50px;
   height: 40px;
   display: inline-block;
   float: right;
}


/* COMENTARIS */

.div-comentar {
   background-color: #d3d3d3;
   width: 650px;
   height: 170px;
   margin-bottom: 10px;
   border-radius: 4px;
}

#div-comentar-textarea {
   width: 95%;
   height: 100px;
   padding: 5px;
   margin: 10px;
}

.div-comentar-enviar {
   float: right;
   margin-right: 5px;
}

.div-order-opcions {
   margin-bottom: 20px;
}

.order-opcions {
   cursor: pointer;
}

.div-comments {
   width: 100%;
   height: 500px;
   overflow-x: hidden;
   overflow-y: scroll;
   margin-bottom: 100px;
}



.div-avatar {
   float: left;
}

.avatar-user {
   width: 50px;
   height: 50px;
   padding: 1px;
   border: 1px solid #E6E6E6;
   margin-left: 8px;
   margin-top: 7px;
   border-radius: 100%;
}

.div-user-comment {
   float: left;
   width: 500px;
   padding: 10px;
   border: 1px solid #D9D9D9;
   border-radius: 5px;
   margin-left: 15px;
   margin-bottom: 10px;
}

.comment-first-line {
   width: 100%;
}

.nickname-user {
   display: inline-block;
}

.dia-comentari {
   color: #666;
}

.comentari-principal {
   color: black;
}

.comment-last-line {
   width: 100%;
   bottom: 0px;
   margin-top: 10px;
}

.comment-respondre {
   color: rgb(41, 128, 185);
}

.comment-last-line-dret {
   float: right;
   opacity: 0.6;
}

.comment-favor {
   color: #00CC00;
}

.comment-contra {
   color: #CC0000;
}



/* SCHEDULE */


#panell-scrollbar {
   overflow-x: hidden;
   overflow-y: scroll;
   margin-bottom: 100px;
   margin-left: 15px;
}


.contenidor-schedule-item {
   width: 120px;
	height: 230px;
	margin-right: auto;
   margin-left: auto;
   padding-bottom: 40px;
	float: left;
}

.contenidor-schedule-caption {
   width: 115px;
   heigth: 50px;
   margin-right: auto;
   margin-left: auto;
}

.caratula-schedule {
   width: 115px;
   heigt: 230px;
}

.caption-titol {
   color: black;
   text-weight: bold;
   overflow: hidden;
   text-overflow: ellipsis;
}

.caption-numero-episodi {
   font-size: 10px;
   color: black;
}


/* CUSTOM SLIDER */

.carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}

.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

.carousel-indicators li {
	background: #c0c0c0;
}

.carousel-indicators .active {
   background: #333333;
}

.slider-thumbnail {
   width: 250px;
   height: 300px;
   float: left;
   padding-right: 20px;
}

.slider-text {
   width: 370px;
   height: 250px;
   overflow: hidden;
   text-overflow: ellipsis;
}

.slider-movie-title {
   color: black;
   font-weight: bold;
   max-height: 18px;
   overflow: hidden;
   text-overflow: ellipsis;
   text-transform: uppercase;
}

.slider-sinopsis {
   height: 260px;
   width: 370px;
   overflow: hidden;
   text-overflow: ellipsis;
}

#movie-slider-div {
   width: 650px;
   height: 260px;
   overflow: hidden;
   text-overflow: ellipsis;
}


/* CAIXA BUSCADORS */

.caixa-buscadors {
   width: 200px;
   margin-left: 20px;
   margin-bottom: 20px;
   margin-top: 20px;
   background-color: rgb(255, 255, 255);
   border: 1px solid;
   border-radius: 4px;
   border-color: rgb(66, 139, 202);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.caixa-buscadors-header {
   color: rgb(255, 255, 255);
   background-color: rgb(66, 139, 202);
   border-color: rgb(66, 139, 202);
   padding: 10px 15px;
   border-bottom: 1px solid transparent;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   text-transform: uppercase;
}

.llista-items {
   margin-bottom: 0px;
   margin-top: 0px;
   margin-left: 0px;
   overflow-x: hidden;
   overflow-y: scroll;
   height: 100px;
}

.caixa-item {
   border-top-right-radius: 0px;
   border-top-left-radius: 0px;
   border-width: 1px 0px;
   position: relative;
   display: block;
   padding: 10px 15px;
   margin-bottom: -1px;
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(221, 221, 221);
}

/* CAIXA SERIES */

.caixa-resultats-series {
   width: 850px;
   margin-top: 20px;
   background-color: rgb(255, 255, 255);
   border: 1px solid;
   border-radius: 4px;
   border-color: rgb(66, 139, 202);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);  
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 100px;
}

.caixa-pagination {
   color: white;
   float: right;
}

.caixa-header-numero-series {
   border-right: 1px solid;
   float: left;
}

#pagination-correccio {
   margin: -5px;
}

.caixa-pagines {
   padding-left: 20px;
   float: right;
   height: 5px;
}

.caixa-pagination-item {
   list-style-type: none;
   float: left;
   padding: 6px 12px;
   margin-left: -1px;
   line-height: 1.42857;
   text-decoration: none;
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(221, 221, 221);
   color: rgb(66, 139, 202);
}

.caixa-serie-item {
   border-top-right-radius: 0px;
   border-top-left-radius: 0px;
   border-width: 1px 0px;
   position: relative;
   display: flex;
   padding: 10px 15px;
   margin-bottom: -1px;
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(221, 221, 221);
}


.llista-resultats-item {
   margin-bottom: 0px;
   margin-top: 0px;
   margin-left: 0px; 
   height: auto;
}

.caratula-llista {
   width: 120px;
   height: 180px;
}

.llista-resultats-caratula {
   float: left;
}

.llista-contenidor-item {
   float: right;
   padding-left: 30px;
   position: relative;
}

.llista-titol {
   font-weight: bold;
   color: black;
   font-size: 20px;
   text-transform: uppercase;
}

.llista-info-basica {
   color: #666666;
   margin-bottom: 10px;
}

.llista-sinopsis {
   color: #333333;
   height: 100px;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 18px;
}

.llista-info-extra {
   color: #666666;
   position: absolute;
   bottom: 0px;
}

.caixa-resultats-footer {
   color: rgb(255, 255, 255);
   background-color: rgb(66, 139, 202);
   border-color: rgb(66, 139, 202);
   padding: 10px 15px;
   border-bottom: 1px solid transparent;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   text-transform: uppercase;
   height: 20px;
}

.caixa-backtotop {
   color: white;
   text-transform: uppercase;
   float: left;
}


/* PAGINA SERIE */

.contenidor-caratula-opcions {
   float: left;
   width: 300px;
   margin-top: 20px;
}

.caratula-esquerra {
   width: 170px;
   height: 250px;
   margin-left: 40px;
   margin-bottom: 20px;
}

#div-boto-opcions {
   margin-left: 40px;
}

#boto-opcions {
   width: 170px;
}

.box-seguidors {
   width: 170px;
   padding-top: 10px; 
   margin-left: 40px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: rgb(245, 245, 245);
   border: 1px solid rgb(227, 227, 227);
   border-radius: 4px;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.text-box-seguidors {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 18px;
   color: rgb(66, 139, 202);
}

.contenidor-content-serie {
   float: left;
   width: 650px;
   margin-top: 20px;
}

.div-encapçalament-serie {
   width: auto;
   clear: both;
   display: block;
}

.div-serie-header {
   float: left;
}

.titol-serie {
   font-size: 35px;
   color: black;
   width: 500px;
}

.div-subinfo-serie {
   display: inline-block;
   margin-top: -15px;
}

.div-info-basica-serie {
   color: #666666;
   display: inline-block;
   margin-left: 10px;
}

.div-puntuacio-serie {
   float: right;
   width: 100px;
   height: 100px;
}

.caixa-puntuacio-general {
   width: 80px;
   height: 40px;
   border: 3px solid;
   border-radius: 10px;
   background: none repeat scroll 0% 0% rgb(248, 248, 248);
   border: 2px solid rgb(227, 227, 227);
   color: rgb(0, 147, 232);
   font-size: 30px;
   font-weight: bold;  
   text-align: center;
   padding-top: 15px;
}

.caixa-teva-puntuacio-general {
   width: 80px;
}

#pestanyes-accions {
   margin-top: 5px;
   margin-bottom: 20px;
}



/* FOOTER DIVS */

#contenidor-footer-esquerra {
   width: 350px;
   float: left;
   padding-left: 150px;
}

#contenidor-footer-dret {
   float: letf;
}


/*
*
*	UTILITATS
*
*/

#warning-allfields {
	color: red;
	text-align: right;
	text-transform: uppercase;
}

#search-button-custom {
	background-color: white;
	color: rgb(41, 128, 185);
}

#estat-serie {
   display: inline-block;
   width: 70px;
   text-align: center;
   margin-top: 20px;
   padding: 5px;
   border: 1px solid;
}

